EMAIL_SENDER_NAME=
FIREBASE_API_KEY=
GEMINI_API_KEY=
PAYSTACK_SECRET_KEY=
PEXELS_API_KEY=
SABUSS_API_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
VITE_GEMINI_API_KEY=
VITE_PAYSTACK_PUBLIC_KEY=
VITE_PEXELS_API_KEY=
VITE_PIXABAY_API_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=